:root {
  --primary-color-900: #0d1c2d;
  --secondary-color-400: #0067b1;
  --neutral-color-800: #122741;

  --ff-primary: "Montserrat", sans-serif;

  --bg-neutral-200: #f9f9f9;
}

@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: 300;
  font-size: 62.5%;
  line-height: 1.6;
  height: 100%;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

span {
  margin-left: 0 !important;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 8rem;
  font-weight: 300;
  color: var(--ff-primary);
}

section {
  height: 100%;
  width: 100%;
  padding: 5em 2em;
}

.container {
  margin-inline: auto;
  width: calc(min(90%, 94rem));
}

/******Navbar-Menu*******/

.logo {
  padding-top: 0.4rem;
}

.navbar {
  background-color: rgba(18, 39, 65, 0.3);
  height: 9.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar .container {
  width: 83%;
  display: flex;
  justify-content: space-between;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: rgba(18, 39, 65, 0.3);
  width: 140px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -140px;
  transition: 500ms;
  z-index: 1000;
}

.nav-menu.active {
  left: 0;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  height: 10vh;
}

.nav-menu-items a {
  text-decoration: none;
  color: #fff;
  font-size: 21px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  transition: 250ms;
}

.nav-menu-items a:hover {
  background-color: #11324b;
  transition: 150ms;
}
.nav-menu-items {
  width: 100%;
  padding: 0;
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.menu-text {
  font-weight: 300;
}

/*****************/

.button-text {
  font-size: 2.1rem;
}

.hero {
  height: 100vh;
  .left-column {
    max-width: 66rem;
  }
  .right-column {
    padding-top: 14%;
  }

  h3 {
    font-size: 6.2em;
    font-weight: 300;
    line-height: 1;
    max-width: 66rem;
    text-transform: uppercase;
    color: white;
  }
  p {
    padding: 5px 50px;
  }
  .primary-cta {
    display: flex;
    align-items: center;
    margin-top: 60px;
    span {
      display: inline-block;
      text-align: center;
      background-color: #677d8e;
      transition: 0.5s;
    }
    img {
      background-color: var(--primary-color-900);
      padding: 24.5px 25px;
      transition: 0.5s;
    }
  }
  .secondary-cta {
    display: inline-block;
    span {
      display: inline-block;
      margin-right: 1em;
    }
  }
}

/************Hero Static****************/

.hero-static {
  height: 100vh;
  .left-column {
    max-width: 66rem;
  }
  .right-column {
    padding-top: 10%;
  }

  h3 {
    font-size: 6.2em;
    font-weight: 300;
    line-height: 1;
    max-width: 66rem;
    text-transform: uppercase;
    color: white;
  }
  p {
    padding: 5px 50px;
  }
  .primary-cta {
    display: flex;
    align-items: center;
    margin-top: 60px;
    span {
      display: inline-block;
      text-align: center;
      background-color: #677d8e;
      transition: 0.5s;
    }
    img {
      background-color: var(--primary-color-900);
      padding: 24.5px 25px;
      transition: 0.5s;
    }
  }
  .secondary-cta {
    display: inline-block;
    span {
      display: inline-block;
      margin-right: 1em;
    }
  }
}

.hero-static .container {
  display: flex;
  place-content: space-between;
  padding-top: 55vh;
  text-align: left;
}

/*********Functional**************/

.primary-cta span:hover {
  background-color: var(--primary-color-900);
}
.primary-cta img:hover {
  background-color: var(--secondary-color-400);
}

.hero .container {
  display: flex;
  place-content: space-between;
  padding-top: 55vh;
  text-align: left;
}
#ReactBackgroundSlider {
  z-index: -1;
}

.bg-neutral {
  background-color: #f9f9f9;
}

/*****HomeSection*****/

.home-section {
  height: 100%;
  width: 100%;
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 50em) {
  .split {
    flex-direction: row;
  }
}

.normal-cta {
  color: var(--primary-color-900);
  span {
    font-size: 1.5rem;
    padding-right: 0.5em;
  }
}

.image-section {
  width: 50vw;
  img {
    width: 100%;
  }
}

.text-section {
  position: relative;
  width: 50vw;
  h1 {
    line-height: 1;
    margin-bottom: 40px;
    margin-left: -15px;
    font-weight: 400;
  }
  p {
    font-size: 1.5rem;
    max-width: 25rem;
    line-height: 1.3;
  }
  .text-section-container {
    position: absolute;
    left: 36%;
    top: 36%;
  }
}

.description {
  margin-bottom: 40px;
}

.number-line {
  display: flex;
  flex-direction: row;
  margin-bottom: 5em;
  p {
    font-size: 1.8rem;
    margin-right: 0.5em;
  }
  span {
    width: 29vw;
    border-bottom: 1px solid var(--primary-color-900);
    margin-bottom: 1.2em;
  }
}

/***********HomeSection Form*************/

.home-section-form {
  height: 100%;
  width: 100%;
}

.form-section {
  width: 50vw;
  min-height: 100vh;
}

.form-section .line {
  width: 37vw;
}

.form-section .number-line {
  margin-bottom: 2em;
}
.form-section-container {
  width: 80%;
  margin: 2em 0 auto auto;
}

/***********Run**************/

.bg-run {
  background-image: url("./assets/images/image-9.jpg");
  background-position: center;
  background-size: cover;
}

.run {
  .right-column {
    padding-top: 9%;
  }
}

/***********SubHero**********/

.bg-sub-hero {
  background-image: url("./assets/images/image-8.jpg");
  background-position: center;
  background-size: cover;
}

.sub-hero-viewport {
  min-height: 100vh;
}

.sub-hero {
  width: 100%;
  height: 100%;
  .number-line {
    span {
      width: 97%;
    }
  }
  .sub-hero-container {
    padding-top: 25vh;
    padding-left: 25vw;
    .split {
      .big-title {
        margin-right: 10vw;
        margin-top: -5em;
        max-width: 45em;
        h1 {
          margin-left: -0.1em;
          color: var(--primary-color-900);
        }
        h4 {
          font-size: 2.4rem;
          color: var(--neutral-color-800);
          margin: 0;
          padding-top: 1em;
        }
        p {
          font-size: 1rem;
          margin-top: -3em;
        }
      }
      .subtitle-text {
        max-width: 60em;
        p {
          font-size: 0.8rem;
          font-weight: 400;
          color: #737373;
        }
        .firstLine {
          margin-bottom: 1em;
        }
      }
    }
  }
}

.sub-hero .sub-hero-container .split .subtitle-text p {
  font-size: 1rem;
}
/*********Run Content**************/

.run-content {
  background-color: var(--bg-neutral-200);

  .run-text-content {
    padding: 8em 0;
    max-width: 80em;
  }
  h4 {
    font-size: 4rem;
    font-weight: 300;
    color: var(--primary-color-900);
    margin: 0;
    padding-bottom: 0.2em;
  }
  p {
    font-size: 1.1rem;
  }
  span {
    width: 100%;
    border-bottom: 1px solid var(--primary-color-900);
  }
}

/************Explore**********/

.bg-explore {
  background-image: url("./assets/images/image-10.jpg");
  background-position: center;
  background-size: cover;
}

.map-container {
  height: 100vh;
}

/***********Create***********/

.bg-create {
  background-image: url("./assets/images/image-13.jpg");
  background-position: center;
  background-size: cover;
  .hero-static {
    .right-column {
      padding-top: 9%;
    }
  }
}

.bg-neutral {
  height: 60vh;
  .sub-hero-container {
    padding-top: 12vh;
  }
}

/********Own**********/

.bg-own {
  background-image: url("./assets/images/image-14.jpg");
}

/********Crew**********/
.bg-white {
  height: 60vh;
  .sub-hero-container {
    padding-top: 12vh;
  }
}

.bg-crew {
  background-image: url("./assets/images/image-crew.jpg");
  background-position: center;
  background-size: cover;
}

/**********See**********/

.bg-see {
  background-image: url("./assets/images/image-15.jpg");
  background-position: center;
  background-size: cover;
}

.centered {
  margin: 0 auto;
  max-width: 80vw;
}

.subtitle-text h3 {
  font-size: 2rem;
  color: var(--primary-color-900);
  margin-bottom: 0.5em;
}

.bg-cards {
  background-color: #f9f9f9;
  min-height: 85vh;
}

.small-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-bottom: 2em;
}

.small-cards .container {
  min-width: 83%;
}

.card-single {
  margin: 2em 2em;
}

.card-single img {
  padding: 1em;
  background-color: #fff;
  box-shadow: 0px 2px 4px -1px #b5b5b5;
  border-radius: 2.5em;
  margin-bottom: 2em;
}

.card-single p {
  font-size: 0.9rem;
  text-align: center;
  margin: 0 auto;
  max-width: 11em;
}

.bg-cards p {
  font-size: 0.9rem;
  text-align: center;
}

.cards-description {
  padding: 3em 0;
}

/*********Ask********/

.bg-ask {
  background-image: url("./assets/images/image-22.jpg");
  background-position: center;
  background-size: cover;
}

.map-container-ask {
  min-height: 85vh;
  height: 85vh;
  display: flex;
  justify-content: center;
  margin-bottom: 7em;
}

/*******Form************/

.form-container {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 20px 0;
  width: 80%;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: 0;
  font-size: 16px;
  border-width: 0 0 2px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #0067b1;
}

form .contact-preference .contact-title,
form .checkbox-group .interests-title {
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 1em;
}

form .category {
  display: flex;
  width: 20%;
  margin: 30px 0;
  justify-content: space-between;
}

form .category span {
  font-size: 0.9rem;
}

.wider {
  width: 50% !important;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

form .category label .check {
  height: 18px;
  width: 18px;
  border-radius: 2px;
  margin-right: 10px;
  border: 1px solid #999;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three,
#dot-4:checked ~ .category label .four {
  background: #fff;
  border-color: #0d1c2c;
}

#check-1:checked ~ .category label .one,
#check-2:checked ~ .category label .two,
#check-3:checked ~ .category label .three,
#check-4:checked ~ .category label .four {
  border: solid #999;
  border-width: 0 2px 2px 0;
  left: 9px;
  top: 5px;
  width: 6px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.check:checked {
  outline: 1px solid #999;
  transform: none;
}

.checkbox-group .category {
  display: flex;
  flex-wrap: wrap;
  width: 90% !important;
}

.checkbox-group label {
  padding: 2em 2em 2em 0;
}

form input[type="radio"],
form input[type="checkbox"] {
  display: none;
}

form .button {
  height: 45px;
  margin: 25px 0 25px auto;
  width: 120px;
}
form .button input {
  height: 100%;
  width: 100%;
  border-radius: 2px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #122741;
}
form .button input:hover {
  /* transform: scale(0.99); */
  background-color: #0067b1;
}
@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}

textarea {
  outline: none;
  resize: none;
  min-width: 100%;
  padding: 1em;
}

input,
textarea,
select {
  font-family: inherit;
}

/*****Footer*******/

.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--neutral-color-800);
  height: 9.5vh;
  margin-top: -5px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
}

.social {
  padding-top: 5px;
}

.footer-bottom {
  text-align: center;
  background-color: var(--primary-color-900);
  padding: 0.8em 0;
  p {
    font-size: 0.7rem;
    color: #fff;
  }
}
