:root {
  --primary-color-900: #0d1c2d;
  --secondary-color-400: #0067b1;
  --neutral-color-800: #122741;
  --neutral-gray-500: #999999;

  --ff-primary: "Montserrat", sans-serif;

  --bg-neutral-200: #f9f9f9;

  --fw-light-300: 300;
  --fw-regular-400: 400;
  --fw-semibold-600: 600;
  --fw-bold-700: 700;

  --sp-32: 32px;
}

@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: 300;
  font-size: 62.5%;
  line-height: 1.6;
  height: 100%;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

p {
  font-size: 18px;
  font-weight: var(--fw-regular-400);
  line-height: 22px;
}

span {
  margin-left: 0 !important;
}

a {
  text-decoration: none;
  color: #fff;
}

h1 {
  font-size: 150px;
  font-weight: 300;
  color: var(--primary-color-900);
}

section {
  height: 100%;
  width: 100%;
  padding: 5em 2em;
}

.container {
  margin-inline: auto;
  width: calc(min(90%, 94rem));
}

/******Navbar-Menu*******/

.logo {
  margin: auto 0;
  padding-right: 43px;
}

.navbar {
  background: rgba(18, 39, 65, 0.3);
  backdrop-filter: blur(20px);
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar .container {
  width: 83%;
  display: flex;
  justify-content: space-between;
}

.menu-center {
  position: relative;
  width: 68px;
  height: 68px;
  cursor: pointer;
  backdrop-filter: blur(4px);
}

.menu-bars {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-menu {
  background-color: rgba(18, 39, 65, 0.3);
  width: 140px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -140px;
  transition: 500ms;
  z-index: 1000;
}

.nav-menu.active {
  left: 0;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  height: 10vh;
}

.nav-menu-items a {
  text-decoration: none;
  color: #fff;
  font-size: 21px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  transition: 250ms;
}

.nav-menu-items a:hover {
  background-color: #11324b;
  transition: 150ms;
}
.nav-menu-items {
  width: 100%;
  padding: 0;
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.menu-text {
  font-weight: 300;
}

/*****************/

.button-text {
  font-size: 21px;
  line-height: 26px;
}

.vertical-scroll {
  position: absolute;
  right: 10.7%;
  top: 23%;
}

.hero {
  height: 100vh;
  .left-column {
    max-width: 66rem;
  }
  .right-column {
    padding-top: 15%;
  }

  h3 {
    font-size: 6.2em;
    font-weight: 300;
    line-height: 76px;
    max-width: 66rem;
    text-transform: uppercase;
    color: white;
  }
  p {
    padding: 14px 58px;
    font-size: 21px;
  }
  .primary-cta {
    display: flex;
    align-items: center;
    margin-top: 60px;
    span {
      display: inline-block;
      text-align: center;
      background-color: #677d8e;
      transition: 0.5s;
    }
    img {
      background-color: var(--primary-color-900);
      padding: 18px 20px;
      transition: 0.5s;
    }
  }
  .secondary-cta {
    display: inline-block;
    span {
      display: inline-block;
      margin-right: 1em;
    }
  }
}

/************Hero Static****************/

.hero-static {
  height: 100vh;
  .left-column {
    max-width: 66rem;
  }
  .right-column {
    padding-top: 8%;
  }

  h3 {
    font-size: 6.2em;
    font-weight: 300;
    line-height: 1;
    max-width: 66rem;
    text-transform: uppercase;
    color: white;
  }
  p {
    padding: 14px 58px;
    font-size: 21px;
  }
  .primary-cta {
    display: flex;
    align-items: center;
    margin-top: 60px;
    span {
      display: inline-block;
      text-align: center;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(30px);
      transition: 0.5s;
    }
    img {
      background-color: var(--primary-color-900);
      padding: 18px 20px;
      transition: 0.5s;
    }
  }
  .secondary-cta {
    display: inline-block;
    span {
      display: inline-block;
      margin-right: 1em;
    }
  }
}

.hero-static .container {
  display: flex;
  place-content: space-between;
  padding-top: 55vh;
  text-align: left;
}

/*********Functional**************/

.primary-cta span:hover {
  background-color: var(--primary-color-900);
}
.primary-cta img:hover {
  background-color: var(--secondary-color-400);
}

.hero .container {
  display: flex;
  place-content: space-between;
  padding-top: 55vh;
  text-align: left;
}
#ReactBackgroundSlider {
  z-index: -1;
}

.bg-neutral {
  background-color: #f9f9f9;
}

/*****HomeSection*****/

.home-section {
  height: 100%;
  width: 100%;
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 50em) {
  .split {
    flex-direction: row;
  }
}

.normal-cta {
  color: var(--primary-color-900);
  font-weight: 400;
  span {
    font-size: 1.5rem;
    padding-right: 0.5em;
  }
}

.image-section {
  width: 50vw;
  margin-bottom: -5px;
  z-index: 2;
  img {
    width: 100%;
  }
}

.text-section {
  position: relative;
  width: 50vw;
  overflow-x: hidden;
  h1 {
    line-height: 1;
    margin-bottom: 40px;
    margin-left: -15px;
  }
  p {
    font-size: 1.5rem;
    max-width: 25rem;
    line-height: 1.3;
  }
  .text-section-container {
    position: absolute;
    left: 36%;
    top: 36%;
  }
}

.description {
  margin-bottom: 40px;
}

.number-line {
  display: flex;
  flex-direction: row;
  margin-bottom: 5em;
  p {
    font-size: 18px;
    margin-right: 12px;
  }
  span {
    width: 31vw;
    border-bottom: 1px solid var(--primary-color-900);
    margin-bottom: 5px;
    overflow-x: hidden;
  }
}

/***********HomeSection Form*************/

.home-section-form {
  height: 100%;
  width: 100%;
}

.form-section {
  width: 50vw;
  min-height: 100vh;
}

.form-section .line {
  width: 38vw;
}

.form-section .number-line {
  margin-bottom: 2em;
}
.form-section-container {
  width: 80%;
  margin: 5em 0 auto auto;
}

/***********Run**************/

.bg-run {
  background-image: url("./assets/images/image-9.jpg");
  background-position: center;
  background-size: cover;
}

/***********SubHero**********/

.bg-sub-hero {
  background-image: url("./assets/images/image-8.jpg");
  background-position: center;
  background-size: cover;
}

.sub-hero-viewport {
  min-height: 100vh;
}

.sub-hero {
  width: 100%;
  height: 100%;
  .number-line {
    span {
      width: 100%;
    }
  }
  .sub-hero-container {
    padding-top: 25vh;
    padding-left: 350px;
    .split {
      .big-title {
        margin-right: 72px;
        margin-top: -5em;
        width: 557px;
        h1 {
          margin-left: -0.1em;
          color: var(--primary-color-900);
        }
        h4 {
          font-size: 62px;
          color: var(--neutral-color-800);
          font-weight: var(--fw-semibold-600);
          margin: 0;
          padding-top: 50px;
          line-height: 76px;
        }
        h5 {
          font-size: 62px;
          color: var(--neutral-color-800);
          font-weight: var(--fw-semibold-600);
          margin: 0;
          line-height: 76px;
        }
        p {
          margin-top: -3em;
          color: var(--primary-color-900);
          line-height: 22px;
          font-size: 18px;
          max-width: 300px;
        }
      }
      .subtitle-text {
        max-width: 810px;
        h3 {
          margin: 0;
        }
        p {
          font-size: 18px;
          line-height: 22px;
          font-weight: var(--fw-regular-400);
          color: #737373;
          width: 760px;
        }
        .firstLine {
          margin-bottom: 1em;
        }
      }
    }
  }
}

p .blue-text {
  color: #122741;
}

.sub-hero .sub-hero-container .split .subtitle-text p {
  // font-size: 1rem;
}
/*********Run Content**************/

.run-content {
  background-color: var(--bg-neutral-200);
  height: 100%;
}

summary {
  color: var(--primary-color-900);
  font-size: 80px;
  cursor: pointer;
  outline: none;
}

details {
  padding: 90px 0;
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

.drop-content {
  padding-top: 45px;
}

details p {
  font-size: 1rem;
  max-width: 810px;
  margin-bottom: 1em;
  color: var(--neutral-gray-500);
}

details p span {
  margin-bottom: 1em;
}

summary::marker {
  background: url("./assets/images/drop-down-drk.svg") center no-repeat;
  // color: transparent;
  content: "";
}

@keyframes sweep {
  from {
    opacity: 0;
    margin-top: -10px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

/************Explore**********/

.bg-explore {
  background-image: url("./assets/images/image-10.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.map-container {
  min-height: 100%;
}

.map-container img {
  width: 100%;
  height: auto;
}
/***********Create***********/

.bg-create {
  background-image: url("./assets/images/image-13.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-neutral {
  height: 60vh;
  .sub-hero-container {
    padding-top: 12vh;
  }
}

/********Own**********/

.bg-own {
  background-image: url("./assets/images/image-14.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/********Crew**********/
.bg-white {
  height: 60vh;
  .sub-hero-container {
    padding-top: 12vh;
  }
}

// .bg-crew {
//   background-image: url("./assets/images/image-crew.jpg");
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
// }

.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.header-container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;

  min-width: 100%;
  height: 100%;
  overflow: hidden;
}

.fullscreen-video-wrap video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blue-text {
  color: #122741;
}
/**********See**********/

.bg-see {
  background-image: url("./assets/images/image-15.jpg");
  background-position: center;
  background-size: cover;
}

.centered {
  margin: 0 auto;
  max-width: 85vw;
}

.subtitle-text h3 {
  font-size: 2rem;
  color: var(--primary-color-900);
  margin-bottom: 0.5em;
}

.bg-cards {
  background-color: #f9f9f9;
  min-height: 85vh;
}

.col-1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}
.col-2 {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

.small-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-bottom: 2em;
}

.small-cards .container {
  min-width: 83%;
}

.card-single {
  margin: 2em 2em;
  display: flex;
  flex-direction: column;
  max-width: 226px;
  align-items: center;
}

.card-single img {
  padding: 1em;
  background-color: #fff;
  box-shadow: 0px 2px 4px -1px #b5b5b5;
  border-radius: 2.5em;
  margin-bottom: 32px;
}

.card-single p {
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  max-width: 11em;
}

.bg-cards p {
  font-size: 20px;
  text-align: center;
}

.cards-description {
  padding: 3em 0 10em 0;
  font-size: 18px;
  max-width: 1158px;
}

.paragraph-container {
  display: flex;
  justify-content: center;
}

/*********Ask********/

.bg-ask {
  background-image: url("./assets/images/image-22.jpg");
  background-position: center;
  background-size: cover;
}

.sub-hero-ask {
  background-image: url("./assets/images/image-8.jpg");
}

.map-container-ask {
  min-height: 80vh;
  height: 80vh;
  display: flex;
  justify-content: center;
  margin: 12em 0 7em 0;
}

.map-container img {
  background-color: #e6e7e8;
}

/*******Form************/

.form-container {
  max-width: 605px;
  width: 100%;
  font-size: 12px;
  color: #999;
}

.form-container ::placeholder {
  color: #999;
}

.gender-details {
  margin-bottom: var(--sp-32);
}

.gender-details .category label {
  margin-right: 26px;
}

.contact-preference {
  margin-bottom: var(--sp-32);
}

.contact-preference .category label {
  margin-right: 100px;
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

form .user-details .input-box {
  margin-bottom: var(--sp-32);
  width: 191px;
  margin-right: 16px;
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 35px;
  width: 100%;
  outline: 0;
  border-width: 0 0 2px;
  border-bottom-width: 1px;
  border-bottom-color: var(--neutral-gray-500);
  transition: all 0.3s ease;
  background: none;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #0067b1;
}

form .contact-preference .contact-title,
form .checkbox-group .interests-title {
  font-weight: 300;
  margin-bottom: 1em;
}

form .category {
  display: flex;
}

.wider {
  margin: var(--sp-32) 0;
}

.check-grid {
  margin-bottom: 0;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three,
#dot-4:checked ~ .category label .four,
#dot-5:checked ~ .category label .five {
  background: #fff;
  border-color: #0d1c2c;
}

.checkbox-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90% !important;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  padding: 0 32px 32px 0;
}

.interests-title {
  display: block;
  margin-bottom: 32px;
}

.checkbox-wrapper label {
  cursor: pointer;
  padding-left: 9px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  outline: 1px solid #999999;
  cursor: pointer !important;
}

input[type="checkbox"]:after {
  content: "\2713";
  font-size: 15px;
  color: #999;
  display: none;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

input[type="checkbox"]:checked:after {
  display: block;
  text-align: center;
}

.checkbox-group .category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90% !important;
}

.checkbox-group label {
  padding: 0 32px 32px 0;
}

form input[type="radio"] {
  display: none;
}

form .button {
  height: 45px;
  margin: 25px 0 0 auto;
  width: 120px;
}
form .button input {
  height: 100%;
  width: 100%;
  border-radius: 2px;
  border: none;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #122741;
}
form .button input:hover {
  background-color: #0067b1;
}
@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}

textarea {
  outline: none;
  resize: none;
  min-width: 605px;
  padding: 1em;
  border-radius: 5px;
  background: none;
}

textarea::placeholder {
  color: #fff;
}

input,
textarea,
select {
  font-family: inherit;
}

/*****Footer*******/

.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--neutral-color-800);
  height: 100px;
  margin-top: -5px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
}

.footer-navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  background-color: #1a385d;
}

.footer-navigation-crew {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100px;
  background-color: #1a385d;
  padding-left: 22%;
}

.footer-navigation-crew .vl {
  margin-right: 35px;
}

.footer-navigation-crew p {
  font-size: 12px;
  color: #fff;
  font-weight: 300;
  margin-right: 35px;
  max-width: 500px;
  text-align: right;
}

.button-description {
  display: flex;
  align-items: center;
}

.button-description a {
  padding: 7px 39px;
  border: 1px solid #fff;
  border-radius: 2px;
  font-size: 9px;
}

.footer-navigation p {
  font-size: 12px;
  color: #fff;
  font-weight: 300;
  margin-right: 35px;
}

.vl {
  height: 75px;
  border-left: 1px solid #fff;
}
.social {
  padding-top: 5px;
}

.footer-bottom {
  text-align: center;
  background-color: var(--primary-color-900);
  padding: 0.8em 0;
  p {
    font-size: 0.7rem;
    color: #fff;
  }
}
